.title {
    text-decoration: none;
    border: 2px solid #1d389c;
    height: auto;
    text-align: justify;
    position: relative;
    margin: 2px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.body {
    text-decoration: none;
    border: 2px solid #d71e1e;
    height: auto;
    text-align: left;
    position: relative;
    margin: 2px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}
p::first-letter {
    color: #ff0000;
    font-size: 25px;
    font-variant: all-small-caps;
}

.cname {
    text-decoration: none;
    border: 2px solid #246a09;
    height: auto;
    text-align: left;
    position: relative;
    margin: 1px;
    display: inline-block;
}
.cemail {
    text-decoration: none;
    border: 2px solid #030c2d;
    height: auto;
    text-align: left;
    position: relative;
    margin: 1px;
    display: inline-block;
}


.cbody {
    text-decoration: none;
    border: 2px solid #af9613;
    height: auto;
    text-align: left;
    position: relative;
    margin: 1px;
    display: inline-block;
}











#wrapper_dropdown{
    display: inline-block;
    position: relative;
}

#dropdown{
    border: none;
    color: #071517;
    width: 7em;
    height: 3em;
}

#dropdown:hover{
    background-color: #216064;
}

#dropdown_list{
    position: absolute;
    /*display: none;*/
    visibility: visible;
}

a{
    text-decoration: none;
    width: 200px;
    background-color: #a4b0a4;
    display: block;
    margin: 0 10px;
    padding: 15px 10px;
    color: black;
}

a:nth-child(n+2){
    border-top: 1px solid black;
}

a:hover{
    background-color: #3d9bcc;
}
